$base-color:#a70e09;

@font-face {font-family: "yofont";
  src: url('/fonts/iconfont.eot?t=1483243221793'); /* IE9*/
  src: url('/fonts/iconfont.eot?t=1483243221793#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/iconfont.woff?t=1483243221793') format('woff'), /* chrome, firefox */
  url('/fonts/iconfont.ttf?t=1483243221793') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/fonts/iconfont.svg?t=1483243221793#iconfont') format('svg'); /* iOS 4.1- */
}


@font-face {font-family: "yofont";
  src: url('/fonts/iconfont-details.eot?t=1483666598051'); /* IE9*/
  src: url('/fonts/iconfont-details.eot?t=1483666598051#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/iconfont-details.woff?t=1483666598051') format('woff'), /* chrome, firefox */
  url('/fonts/iconfont-details.ttf?t=1483666598051') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/fonts/iconfont-details.svg?t=1483666598051#iconfont') format('svg'); /* iOS 4.1- */
}



@font-face {font-family: "yofont";
  src: url('/fonts/iconfont-share.eot?t=1483674170879'); /* IE9*/
  src: url('/fonts/iconfont-share.eot?t=1483674170879#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/iconfont-share.woff?t=1483674170879') format('woff'), /* chrome, firefox */
  url('/fonts/iconfont-share.ttf?t=1483674170879') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/fonts/iconfont-share.svg?t=1483674170879#iconfont') format('svg'); /* iOS 4.1- */
}

%header{
   header {
                height: .53rem;
                background: $base-color;
                ul {
                    @include flexbox();
                    height: 100%;
                    li:first-child,
                    li:last-child {
                        width: .53rem;
                        height: 100%;
                        line-height: .53rem;
                        text-align: center;
                        img{
                            width:.22rem;
                            height: .22rem;
                        }
                       
                    }
                    li:nth-child(2) {
                        @include flex();
                        @include flexbox();
                        @include justify-content();
                        @include align-items();
                        img{
                            width:1.04rem;
                            height: .25rem;
                        }
                        
                    }

                }
            }
}