@charset "UTF-8";
@import "./common";

.m-newspaper{
	width:100%;
	height:100%;
	
    @include flexbox();
    @include flex-direction(column);
    section{
    	width:100%;
    	height: 100%;
    	@include flexbox();
    	//@include flex();
    	background: #fff;
    	@include justify-content();
        @include align-items();
        img{
        	width:1.93rem;
        }
    }


}

